/* Contenu du header */
body {
    font-family: 'Open Sans', sans-serif;
    color: #263238;
}

header {
    width: 100%;
    margin: 0 auto;
}

.logo {
    margin-top: 15px;
    width: 200px;
    float: left;
}

.recherche {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 40%;
    margin-top: 35px;
    margin-left: 135px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid #90a4ae;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    float: left;
}

.valider {
    width: 20px;
    height: 20px;
    margin-top: 33px;
    margin-left: -26px;
    position: absolute;
}

.inner {
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 5px;
}

nav.quick-access {
    float: left;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
}

.quick-access li {
    float: left;
    list-style-type: none;
    display: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.quick-access ul {
    padding: 0;
    margin: 0;
    text-align: center; /* centrer le texte */
}

/* les a href */
.quick-access a {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.icone-menu {
    width: 25px;
}

.connexion {
    color: #e95f18;
}

#menu {
    background-color: #90a4ae;
    width: 100%;
}

#sub-nav {
    width: 80%;
    height: 50px;
    padding: 5px;
    text-align: center; /* centrer le texte */
    margin: 0 auto;
}

#sub-nav li {
    height: 100px;
    display: inline;
    list-style: none;
    width: 30px;
}

#sub-nav a {
    display: inline-block;
    margin-left: 23px;
    text-decoration: none;
    color: #FFF;
    width: 65px;
    line-height: 15px;
    font-size: 13px;
    margin-top: 5px;
    vertical-align: baseline;
}

#single {
    margin-top: -5px;
}

/* Fin du Header */

/* Debut du contenu */

.post-cover-contenu {
    position: relative;
    height: 600px;
}

.post-back-contenu {
    width: 100%;
    height: 750px;
}

.post-title-contenu {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    z-index: 2;
    position: absolute;
    text-align: center;
    padding-top: 100px;
}

.post-title-contenu h1 {
    width: 100%;
    font-size: 21px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0 auto 40px;
    padding: 0 5px 20px 5px;
}

.fond-img-contenu {
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: 1;
    background-image: url('../images/fond.png');
    background-size: cover;
}

/* Debut formulaire 1 */
.formulaire {
    width: 435px;
    padding: 30px;
    background: #FFFFFF;
    margin: -400px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    z-index: 10;
    position: relative;
}

.formulaire h2 {
    background: #e95f18;
    color: #FFF;
    font-size: 19px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
}

.formulaire input[type="text"],
.formulaire input[type="date"],
.formulaire input[type="datetime"],
.formulaire input[type="email"],
.formulaire input[type="number"],
.formulaire input[type="search"],
.formulaire input[type="time"],
.formulaire input[type="url"],
.formulaire input[type="password"],
.formulaire textarea,
.formulaire select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 30px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.formulaire input[type="button"],
.formulaire input[type="submit"] {
    background-color: #e95f18;
    border: 1px solid #e95f18;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    margin-left: 155px;
}

.formulaire input[type="button"]:hover,
.formulaire input[type="submit"]:hover {
    background: #e95f18 linear-gradient(to bottom, #e95f18 5%, #e95f18 100%);
    margin: 0 auto 0 155px;
}

/* Fin formulaire 1 */
.zone_formulaire {
    width: 980px;
    margin: 0 auto;
}
/* Debut formulaire 2 */
.formulaire2 {
    width: 435px;
    padding: 30px;
    background: #FFFFFF;
    margin: 35px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    z-index: 9;
    position: relative;
    float: left;
}

.formulaire2 p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulaire2 h2 {
    background: #e95f18;
    color: #FFF;
    font-size: 19px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
}

.formulaire2 input[type="text"],
.formulaire2 input[type="date"],
.formulaire2 input[type="datetime"],
.formulaire2 input[type="email"],
.formulaire2 input[type="number"],
.formulaire2 input[type="search"],
.formulaire2 input[type="time"],
.formulaire2 input[type="url"],
.formulaire2 input[type="password"],
.formulaire2 textarea,
.formulaire2 select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 30px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.formulaire2 input[type="button"],
.formulaire2 input[type="submit"] {
    background-color: #e95f18;
    border: 1px solid #e95f18;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    margin-left: 155px;
}

.formulaire2 input[type="button"]:hover,
.formulaire2 input[type="submit"]:hover {
    background: #e95f18 linear-gradient(to bottom, #e95f18 5%, #e95f18 100%);
    margin: 0 auto 0 155px;
}

/* Fin formulaire 2 */

.type_mine {
    text-decoration: underline;
    cursor: pointer;
}

/* Debut formulaire 2 */
.formulaire3 {
    width: 435px;
    padding: 30px;
    background: #FFFFFF;
    margin: -370px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    z-index: 9;
    position: relative;
    float: right;
}

.formulaire3 p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulaire3 h2 {
    background: #e95f18;
    color: #FFF;
    font-size: 19px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
}

.formulaire3 input[type="text"],
.formulaire3 input[type="date"],
.formulaire3 input[type="datetime"],
.formulaire3 input[type="email"],
.formulaire3 input[type="number"],
.formulaire3 input[type="search"],
.formulaire3 input[type="time"],
.formulaire3 input[type="url"],
.formulaire3 input[type="password"],
.formulaire3 textarea,
.formulaire3 select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 30px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.formulaire3 input[type="button"],
.formulaire3 input[type="submit"] {
    background-color: #e95f18;
    border: 1px solid #e95f18;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    margin-left: 155px;
}

.formulaire3 input[type="button"]:hover,
.formulaire3 input[type="submit"]:hover {
    background: #e95f18 linear-gradient(to bottom, #e95f18 5%, #e95f18 100%);
    margin: 0 auto 0 155px;
}

/* Fin formulaire 3 */

#wrapper-contenu { /*Contenu page Photos, Musique, Vidéos */
    width: 980px;
    margin: 520px auto 50px;
    background-color: #ffffff;
    clear: both;
    font-size: 14px;
    z-index: 3;
    position: relative;
}

.banniere {
    background-color: #fff;
    padding: 1px;
    box-sizing: border-box;
    height: 155px;
    width: 980px;
    float: left;
}

/* Debut formulaire_montage */
#formulaire_montage {
    width: 335px;
    height: 120px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    z-index: 10;
    margin: -250px -1px -250px auto;
    position: relative;
    float: right;
}

#formulaire_montage input[type="text"],
#formulaire_montage input[type="date"],
#formulaire_montage input[type="datetime"],
#formulaire_montage input[type="email"],
#formulaire_montage input[type="number"],
#formulaire_montage input[type="search"],
#formulaire_montage input[type="time"],
#formulaire_montage input[type="url"],
#formulaire_montage input[type="password"],
#formulaire_montage textarea,
#formulaire_montage select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    padding: 25px 7px 7px;
    margin-bottom: 10px;
}

#formulaire_montage input[type="button"],
#formulaire_montage input[type="submit"] {
    background-color: #e95f18;
    border: 1px solid #e95f18;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 81px 25px;
    text-decoration: none;
    float: right;
    margin-right: -70px;
    margin-top: -112px;
}

#formulaire_montage input[type="button"]:hover,
#formulaire_montage input[type="submit"]:hover {
    background: #e95f18 linear-gradient(to bottom, #e95f18 5%, #e95f18 100%);

}

/* Fin formulaire_montage */

/* Sweep To Left */
.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
}

.hvr-sweep-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e95f18;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
    color: white;
}

.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Fin de l'effet */

.traitgauche {
    border-right: 40px solid #e95f18;
    padding-left: 5px;
    margin-left: 50px;
    cursor: pointer;
}

.bloc_client {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    width: 980px;
    float: left;
}

/* Conseil */
.conseil {
    color: #78909c;
    height: 80px;
    width: 100%;
    float: left;
    text-align: center; /* centrer le texte */
    margin: 50px auto 0;

    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}

th {
    padding-top: 15px;
    border-right: solid 2px;
    text-align: center;
    vertical-align: top;
    font-weight: 300;
}

th:last-child {
    border-right: hidden;
}

.conseil strong {
    font-size: 25px;
    font-weight: 600;
}

#last {

    border-right: 0;
}

/* Fin conseil */

/* Description */

.description {
    height: 125px;
    width: 980px;
    float: left;
    text-align: center; /* centrer le texte */
    margin: 0 auto;
    padding: 15px 0 25px;
}

.description_text {
    color: #e95f18;
    padding-top: 13px;
    padding-bottom: 25px;
    font-size: 18px;
}

.description p {
    width: 750px;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
}

/* Fin Description */

/* bloc_categorie */

.categorie_text {
    color: #e95f18;
    padding-bottom: 20px;
    text-align: -webkit-left;
}

.bloc_categorie {
    height: 750px;
    width: 980px;
    float: left;
    text-align: center; /* centrer le texte */
    margin: 50px auto 0;
    padding: 15px 0 0;
    background-color: #eceff1;
}

/* Fin bloc_categorie */

.bloc_categorie li {
    float: left;
    margin-top: 10px;
    padding: 8px;
    position: relative;
    list-style-type: none;
}

.categorie {
    width: 800px;
    margin: 40px auto 0;
}

.text_categorie {
    font-size: 13px;
    color: #FFFFFF;
    position: relative;
    top: -80px;
    transform: translateY(-50%);
}

/*.text_categorie2 {
    position: absolute;
    left: 34px;
    top: 70px;
    font-family: Arial;
    font-size: 13px;
    color: #FFFFFF;
    width: 105px;
    line-height: 20px;
}*/

/* Debut formulaire_montage */
#formulaire_magasin {
    width: 880px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    z-index: 10;
    position: relative;
    float: right;
    margin: 40px 0 0 auto;
}

#formulaire_magasin input[type="text"],
#formulaire_magasin input[type="date"],
#formulaire_magasin input[type="datetime"],
#formulaire_magasin input[type="email"],
#formulaire_magasin input[type="number"],
#formulaire_magasin input[type="search"],
#formulaire_magasin input[type="time"],
#formulaire_magasin input[type="url"],
#formulaire_magasin input[type="password"],
#formulaire_magasin textarea,
#formulaire_magasin select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
}

#formulaire_magasin input[type="button"],
#formulaire_magasin input[type="submit"] {
    background-color: #e95f18;
    border: 1px solid #e95f18;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    margin-left: 155px;
}

#formulaire_magasin input[type="button"]:hover,
#formulaire_magasin input[type="submit"]:hover {
    background: #e95f18 linear-gradient(to bottom, #e95f18 5%, #e95f18 100%);
    margin: 0 auto 0 155px;
}

/* Fin formulaire_montage */

/* bloc_categorie */

.bloc_categorie2 {
    height: 750px;
    width: 980px;
    float: left;
    text-align: center; /* centrer le texte */
    margin: 0 auto;
    padding-top: 15px;
    background-color: blue;
}

/* Fin bloc_categorie */

.garage_text {
    color: #e95f18;
}

.garage_text2 {
    color: #e95f18;
    padding-top: 20px;
    padding-bottom: 20px;
}

#formulaire_magasin p {
    margin-top: 10px;
}

/* Debut formulaire_montage */
#formulaire_newsletter {
    width: 335px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    z-index: 10;
    position: relative;
    float: right;
    margin: 200px 0 -35px auto;
}

#formulaire_newsletter input[type="text"],
#formulaire_newsletter input[type="date"],
#formulaire_newsletter input[type="datetime"],
#formulaire_newsletter input[type="email"],
#formulaire_newsletter input[type="number"],
#formulaire_newsletter input[type="search"],
#formulaire_newsletter input[type="time"],
#formulaire_newsletter input[type="url"],
#formulaire_newsletter input[type="password"],
#formulaire_newsletter textarea,
#formulaire_newsletter select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    padding: 25px 7px 7px;
    margin-bottom: 10px;
}

#formulaire_newsletter input[type="button"],
#formulaire_newsletter input[type="submit"] {
    background-color: #e95f18;
    border: 1px solid #e95f18;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    margin-left: 155px;
}

#formulaire_newsletter input[type="button"]:hover,
#formulaire_newsletter input[type="submit"]:hover {
    background: #e95f18 linear-gradient(to bottom, #e95f18 5%, #e95f18 100%);
    margin: 0 auto 0 155px;
}

/* Fin formulaire_montage */

footer {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    float: left;
}

#copyright {
    margin-top: 50px;
    width: 980px;
    font-size: 14px;
    padding: 30px 40px 40px 40px;
}

.mentions {
    display: inline-block;
    width: 320px;
}

.mention_text {
    color: #e95f18;
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 13px;
}

.mentions li {
    list-style-type: none;
    display: inline-block;
    width: 325px;
    padding: 5px;
}

/*Effet Ripple*/

.button {
    background-color: #e95f18;
    border: 1px solid #e95f18;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    margin-left: 155px;
    overflow: hidden;
}

.ripple {
    opacity: 1;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-name: ripple;
}
@keyframes ripple {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(100);
    }
}


